#header
{
    background-image: url(images/travelbanner.png);
    background-color: cyan;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    height: auto;
    padding: 150px 150px;

}
#contact{
    background-image: url(images/received_221450125385426.jpeg);
    background-color: cyan;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    height: auto;
    padding: 150px 150px;
    color:white;

}
#about
{
    height: auto;
    padding: 150px 150px;

}
#about h2,#about p,#contact h2,#contact p{
    text-align: center;

}
h1 {
    color: white;
    font-family: Arial;
    text-align: center;
}

#download
{
    display: block;
    text-align: center;
    width: 150px;
    margin: 0px auto;
    padding: 20px;
    color: white;
    font-family: Arial;
    border: 1px solid #fff;
    text-decoration: none;
    border-radius: 10px;
}

#download:hover
{
    color: black;
    background-color: white;
}
.contactinfo{
    background-color:white;
    color:black;
    border-radius:15px;
    display:inline-block;
    padding:5px 5px;
}
.contactinner{
    display:flex;
    justify-content:space-between ;
}